################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/csharp-basics/FileContentIndex
/.vs
/Functions/.vs
